{% extends "user_init_page.html" %}
{% block content %}

<div class="home-image">
  <div class="mytitle">
    <a>ARMY Stationery</a>
  </div>
</div>

<table id="products">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Year</th>
		<th>Genre</th>
		<th>Price</th>
		{% if session['email'] %}
			<th>To cart</th>
		{% endif %}
	</tr>

	{% for i in range(data.shape[0]) %}
		<tr>
		{% for j in range(data.shape[1]) %}
			<td>{{ data.iloc[i][j] }}</td>
		{% endfor %}
		{% if session['email'] %}
  			<td><button type="submit" class="otherbtn">Add to cart</button></td>
		{% endif %}
		</tr>
	{% endfor %}

</table>

{% endblock %}