<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
	    <title>ARMY Stationery</title>
	    <link rel="icon" type="image/x-icon" href="favicon.ico" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/main.css') }}">
	    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/signup.css') }}">	    
	    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/table.css') }}">
	    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/menu.css') }}">
	</head>

	<body>

	<div class="main-box">
	<ul class="mynavbar">
		<li class="mynavleft"><a href="{{ url_for('home') }}">Home</a></li>
		<li class="mynavleft"><a href="{{ url_for('menu') }}">Menu</a></li>
		<li class="mydropdown">
			<a class="mydropbutton">Products</a>
			<div class="mydropdown-content">
				<a href="{{ url_for('books') }}">Books</a>
				<a href="{{ url_for('cds') }}">CDs</a>
				<a href="{{ url_for('pens') }}">Pens</a>
				<a href="{{ url_for('notebooks') }}">Notebooks</a>
			</div>
		</li>

		{% if session['admin'] %}
        	<li class="mynavright"><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>  Log Out</a></li>
        {% endif %}
	</ul>
	
	{% block content %}
	{% endblock %}

	</div>
	</body>
</html>