{% extends "admin_init_page.html" %}
{% block content %}

<div class="home-image">
  <div class="mytitle">
    <a>ARMY Stationery - ADMIN</a>
  </div>
</div>

<div class="form-box">
<form style="border:1px solid #ccc" method="POST">
  <div class="signup-container">
    <h1>Log In</h1>
    <p>Please fill in this form to log into the admin account.</p>
    <hr>

    <label for="user"><b>User</b></label>
    <input type="text" placeholder="Enter Admin Username" name="user" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Admin Password" name="psw" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Log In</button>
    </div>
  </div>
</form>
</div>


{% endblock %}