{% extends "admin_init_page.html" %}
{% block content %}

<div class="home-image">
  <div class="mytitle">
    <a>ARMY Stationery - ADMIN</a>
  </div>
</div>

<div class ="boxmenu">
<ul class="mainmenu">
  <li><a href="{{ url_for('users') }}">See Users</a></li>
  <li><a href="">Add Product</a>
    <ul class="submenu">
      <li><a href="{{ url_for('add_book') }}">Book</a></li>
      <li><a href="{{ url_for('add_cd') }}">CD</a></li>
      <li><a href="{{ url_for('add_pen') }}">Pen</a></li>
      <li><a href="{{ url_for('add_notebook') }}">Notebook</a></li>
    </ul>
  </li>
  <li><a href="{{ url_for('update') }}">Update Stock</a></li>
</ul>
</div>

{% endblock %}