{% extends "admin_init_page.html" %}
{% block content %}

<div class="home-image">
  <div class="mytitle">
    <a>ARMY Stationery - ADMIN</a>
  </div>
</div>

<table id="products">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Type</th>
		<th>Number of pens</th>
		<th>Manufacturer</th>
		<th>Price</th>
		<th>Items</th>
	</tr>

	{% for i in range(data.shape[0]) %}
		<tr>
		{% for j in range(data.shape[1]) %}
			<td>{{ data.iloc[i][j] }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	
</table>

{% endblock %}