<html>
	<head>
		<title>High School Database</title>
		<style>
		h1 {text-align:center;}
		h2 {text-align:center;}
		p {text-align:center;}
		img {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		}
		</style>
	</head>

	<body>
		<img src="http://static.tumblr.com/8hocwnc/jdknh36hu/untitled-3_copy.png"
		alt="hogwarts"  width="700" height="200" class="center">
		<h1>High School Database</h1>
		<h2>Show Grades</h2>
		<form method="POST">
		<p>
			Surname<br><input type="text" name="surname"><br><br>
			Father's name's initial<br><input type="text" name="father"><br><br>
		    Name<br><input type="text" name="name"><br><br>
		    Subject<br>
			<select name="subject">
				<option value="mathematics">Mathematics</option>
				<option value="informatics">Informatics</option>
				<option value="physics">Physics</option>
				<option value="chemistry">Biology</option>
				<option value="chemistry">Chemistry</option>
				<option value="romanian">Romanian</option>
				<option value="history">History</option>
				<option value="philosophy">Philosophy</option>
			</select><br><br>
		    <input type="submit" value="Get grades">
		</p>
		</form>
	</body>
</html>